@font-face {
  font-family: "iconfont"; /* Project id 3485653 */
  src: url('iconfont.woff2?t=1677483578975') format('woff2'),
       url('iconfont.woff?t=1677483578975') format('woff'),
       url('iconfont.ttf?t=1677483578975') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e600";
}

.icon-wechat:before {
  content: "\e601";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

.icon-dingdingdingd:before {
  content: "\e7c0";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-bell:before {
  content: "\e7c4";
}

.icon-folder:before {
  content: "\e7d1";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-shortcut:before {
  content: "\e917";
}

.icon-ungroup:before {
  content: "\e918";
}

.icon-password:before {
  content: "\e75b";
}

